{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>{% block title %} My Ticket Store {% endblock %}</title>
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand roboto-regular" href="{% url 'event_store:EventStoreHome' %}">
          MyTicketStore
        </a>
        <form class="d-flex" name="search" method="post" action="{% url 'event_store:EventStoreSearch' %}">
          {% csrf_token %}
          <input name="search_event" style="border-radius: 15px 0px 0px 15px;" type="search"
            class="form-control input-group me-2 text" type="search" placeholder="Cerca un evento"
            aria-label="Cerca evento" /><span style="width:0px;"></span>
          <input name="search_by_location" class="form-control input-group me-2" type="search"
            style="border-radius: 0px 15px 15px 0px;" placeholder="Cerca per luogo" aria-label="Cerca luogo" />
          <button class="btn btn-warning text-color-nav rounded-left border border-warning" type="submit">
            Search
          </button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'event_manager:EventManagerHome' %}">Event Manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event_store:EventStoreHome' %}">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'event_store:EventStoreShopCart' %}" class="nav-link">
                <i class="bi bi-basket3-fill" style="color: #FFD43B;"></i>Carrello
                {% if orders %}

                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contatti</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link btn btn-warning btn-xs" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-color-nav" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill" style="color: #FFD43B;"></i>{{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'event_store:EventStoreUserOrders' %}">Ordini</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'password_change' %}">Cambia password</a>
                </li>
                <li>
                  <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">Esci</button>
                  </form>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% block content %} {% endblock %}
  {% block features %} {% endblock %}

  <footer>
    <p class="text-center">&copy; 2025 My Ticket Store - Roberto Fustinoni - Project Work - Unipegaso. All
      rights
      reserved.</p>
  </footer>
  {% block extrascripts %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>