{% extends "base.html" %}
{% block title %}Search{% endblock %}


{% block content %}
{% for event in events %}
<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
        <p class="card-text">{{ event.description|truncatewords:30 }}</p>
        <a class="btn btn-primary" href="{% url 'event_store:EventStoreEventDetail' event.id %}"
            class="btn btn-primary">View Details</a>
    </div>
</div>

{% endfor %}
{% endblock %}
{% block extrascripts %}

{% endblock %}