<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTicketStore</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>MyTicketStore - Project Work UniPegaso</h1>
    <p>
        Questo progetto è stato sviluppato da Roberto Fustinoni. Ogni contenuto è stato creato per scopi didattici.

    </p>
    <div class="container mt-5 fs-2">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Il Progetto</h2>
                <p class="lead">Questo progetto permette, ad una azienda, di gestire online le
                    prenotazioni/acquisti di biglietti per i vari eventi.
                    E' possibile gestire eventi, date e ordini degli utenti.
                    Il cuore dell'applicazione è l'Event Manager, che permette di gestire gli eventi,le date e gli
                    ordini.
                </p>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Utenti</h3>
                <p>Il sistema permette la registrazione e login di utenti, con memorizzazione degli ordini e blocco di
                    aree del sito.</p>
            </div>
            <div class="col-md-6">
                <h3>IMPORTANTE:</h3>
                <p>Questo codice è soggetto a modifiche. Viene messo online ad esclusivo uso dimostrativo ai fini della
                    valutazione delle capacità acquisite.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{% url 'event_store:EventStoreHome' %}" class="btn btn-primary">Accedi</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>