{% extends 'base.html' %}

{% block content %}
<h1>ordini</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Event</th>
            <th>Customer</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.event }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.user }}</td>
            <form action="{% url 'event_manager:EventManagerDeleteOrder' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <td><button type="submit" class="btn btn-primary">delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}